.banner{
    background-color: #9999ff;
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
}

.banner-text{
    top: 5%;
    left: 47.5%;
    position: absolute;
    transform: transform;
    color: #ff5050;
}